<header>
	<div class="row">
		<div class="container">
			<%= link_to '/' do %>
				<%= image_tag ('logo.png'), :class => 'left mobile-logo', :alt => 'Brand Logo' %>
			<% end %>
			<a href="#" data-activates="slide-out" class="button-collapse dropdown-icon">
				<%= image_tag image_path('mobile/mobile-menu-icon.png'), :class => 'right', :alt => 'mobile-dropdown-icon' %>
			</a>
		</div>
	</div>
</header>