<% content_for :title do %>
	Mobile Apps Development
<% end %>
<div class="page-banner">
	<div class="services-page mobile-app-page">
		<div class="services-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<%= render 'layouts/parts/servicesmenu' %>
						<div class="service-inner-title">
							<h1>Mobile App Development</h1>
							<ul class="nav">
								<li>
									<%= link_to 'iPhone iOs Apps Development', iphone_path %>
								</li>
								<li>
									<%= link_to 'Android Apps Development', android_path %>
								</li>
								<li>
									<%#= link_to 'Hybrid Apps Development', hybrid_path %>
								</li>
								<li>
									<%#= link_to 'Fire Phone Apps Development', fire_path %>
								</li>
							</ul>
						</div>
						<div class="mobile-app-content ">
							<%= image_tag 'mobile-apps-content-img.png', :class => 'img-responsive', :alt => 'Services Image' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-inner-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 mobile-content">
							<h2>Web Development Services offered by WebEnrich includes:</h2>
							<p>Creating a visually appealing web design: What is your strategy to stand out amidst millions of websites on the internet? Having a superior or innovative products and services helps but with so many options available in the market you have very little time to convince potential customers to spend enough time on your website to enable yourself to market your products and services.</p>
							<p>This is where our forte lies. Committed to our goal of designing innovative websites which give you that cutting edge, our team at WebEnrich enables you to market yourself better.</p>
						</div>
						<div class="col-md-6 mobile-content">
							<h2>Web Development Services offered by WebEnrich includes:</h2>
							<p>Creating a visually appealing web design: What is your strategy to stand out amidst millions of websites on the internet? Having a superior or innovative products and services helps but with so many options available in the market you have very little time to convince potential customers to spend enough time on your website to enable yourself to market your products and services.</p>
							<p>This is where our forte lies. Committed to our goal of designing innovative websites which give you that cutting edge, our team at WebEnrich enables you to market yourself better.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <script type="javascript" >
	$('#myTabs a').click(function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
</script> -->