<div class="popular-blogs">
	<div class="card">
		<h2 class="mdl-color--red mdl-color-text--white">Popular Blogs</h2>
		<div class="card-content">
			<ul class="blog-technologies blog-group mdl-color--white">
				<% @popular_blogs.each do |blog| %>
					<li>
						<div class="blog">
							<%= link_to blog_show_path(blog.slug) do %>
								<%= image_tag blog.banner.url(:thumb), :alt => 'Blog Image', :class => 'left blog-image' %>
							<% end %>
							<h4>
								<%= link_to blog_show_path(blog.slug) do %>
									<%= blog.title %>
								<% end %>
							</h4>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>