<div class="about-company">
	<div class="container no-gutter">
		<div class="company-details">
			<div class="col-md-2"></div>
			<div class="col-md-2 col-sm-3">
				<div class="we-strength">
					<%= image_tag 'lp/years-excellence.png', class: 'img-responsive', size: '179X179' %>
				</div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="we-strength">
					<%= image_tag 'lp/clients.png', class: 'img-responsive', size: '179X179' %>
				</div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="we-strength">
					<%= image_tag 'lp/members-team.png', class: 'img-responsive', size: '179X179' %>
				</div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="we-strength">
					<%= image_tag 'lp/projects.png', class: 'img-responsive', size: '179X179' %>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="details">
			<p>We are a <span>high performance</span> driven company with a team of <span>creative, marketing</span> and <span>technical professionals</span> who are focused on nothing but <span>excellence</span></p>
		</div>
	</div>
</div>