<div class="pf-slider">
	<div class="carousel">
	<!-- BEGIN CONTAINER -->
		<div class="slides"> <!-- BEGIN CAROUSEL -->
			<div class="slideItem" style="width: 256px; height: 211.2px; top: 54px; right: 40.6px; opacity: 1; z-index: 4; display: block;">
				<!-- SLIDE ITEM -->
				<%= image_tag 'lp/dd.jpg', class: 'img-responsive', size: '430X432', style: 'display: inline-block;' %>
			</div>
			<div class="slideItem" style="width: 256px; height: 211.2px; top: 54px; right: 34.6px; opacity: 1; z-index: 4; display: block;">
				<!-- SLIDE ITEM -->
				<%= image_tag 'lp/mednamics.jpg', class: 'img-responsive', size: '430X432', style: 'display: inline-block;' %>
			</div>
			<div class="slideItem" style="width: 256px; height: 211.2px; top: 54px; right: 34.6px; opacity: 1; z-index: 4; display: block;">
				<!-- SLIDE ITEM -->
				<%= image_tag 'lp/iamgreen.jpg', class: 'img-responsive', size: '430X432', style: 'display: inline-block;' %>
			</div>
			<div class="slideItem" style="width: 256px; height: 211.2px; top: 54px; right: 34.6px; opacity: 1; z-index: 4; display: block;">
				<!-- SLIDE ITEM -->
				<%= image_tag 'lp/meatkart.jpg', class: 'img-responsive', size: '430X432', style: 'display: inline-block;' %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-36251023-1']);
	_gaq.push(['_setDomainName', 'jqueryscript.net']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>