<div class="certifications-widget">
	<div class="certifications-widget-title">
		<h3>Certifications</h3>
	</div>
	<div class="certifications-widget-content">
		<ul>
			<li>
				<%= link_to '#' do %>
					<%= image_tag 'google-img.jpg', :class => 'img-responsive', :alt => 'Google Image' %>
				<% end %>
			</li>
			<li>
				<%= link_to '#' do %>
					<%= image_tag 'bing-img.jpg', :class => 'img-responsive', :alt => 'Bing Image' %>
				<% end %>
			</li>
		</ul>
	</div>
</div>