<div class="quick-enquiry contact_address">
	<div class="quick-form-title">
		Contact Address
	</div>
	<div class="address-details">
		<address class="address-field">
			201, Plot # 45,<br/>Aditya Sudeepth Pristine,<br/>
			Bharani Layout, Film Nagar,<br/>Jubilee Hills,
			Hyderabad-500033, Telangana, India
		</address>
		<ul>
			<%#<li class="phone-field">+91 91770 33330</li>%>
			<li class="email-li"><%= link_to 'info@webenrich.com', 'mailto:info@webenrich.com' %></li>
		</ul>
		<div class="contact-person">
			<div class="address-title">
				<h3>Contact Person
					<span>
						<%= image_tag 'address-span-img.png', :class => 'img-responsive', :alt => 'Arrow Image' %>
					</span>
				</h3>
			</div>
			<div class="contact-person-details">
				<p>Nikhil Reddy<br />
					nikhil@webenrich.com <br />
					<em>+91 91770 33330</em><br />
					<em>+91 40 4539 0333</em>
				</p>
			</div>
		</div>
	</div>
	<span>
		<%= image_tag "query-form-btm-img.png" %>
	</span>
</div>
