<div class="start-project">
	<div class="container">
		<div class="start-content">
			<p>We can help kick start your project &amp; deliver great results.</p>
			<%= link_to 'Start A Project', request_a_quote_path, :class => 'read-more start-project-btn btn' %>
		</div>
	</div>
</div>