<!-- start-project -->
<div class="start-project">
	<h4>
		We can help kick start your project &nbsp; deliver great results.
	</h4>
	<div class="quick-start">
		<%= link_to "Start A Project", request_a_quote_path, class: 'btn' %>
	</div>
</div>