<% content_for :title do %>
Microsoft Bing Certified Professional Company in Hyderabad, Bangalore, Delhi, Mumbai India
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="WebEnrich is the best Microsoft Bing advertising certified partner in Hyderabad, Bangalore, Delhi, Mumbai India. Call us now.">
	<meta name="keywords" content="bing accredited professional, microsoft advertising accredited professional, bing certified, bing advertisement, bing search partners, bing ads certified company, Hyderabad, Bangalore, Delhi, Mumbai, India">
<% end %>
<div class="page-banner">
	<div class="services-page clients-page certifications-page">
		<div class="services-content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-we">
							<div class="certification-title">
								<h2>MICROSOFT BING CERTIFIED PARTNER</h2>
							</div>							
						</div>
						<div class="certifications-content">
							<div class="row">
								<div class="certification-logo">
									<%= link_to 'http://advertise.bingads.microsoft.com/en-in/training-accreditation-find-a-pro-directory?CompanyID=9128', :target => '_blank' do %>
										<%= image_tag 'bing-partner-big.png', :alt => 'Certification Logo' %>
									<% end %>
								</div>
							</div>
							<div class="col-md-6">
								<p>WebEnrich a nationally ranked online marketing agency, is certified as Microsoft Bing Certified Professional Company in India.</p>
								<p>WebEnrich is a Web-centric, business-to-business digital marketing communications company. Our agency offers strategic consulting, brand management, online marketing, Web design/development, Social Media solutions, lead management, measurement and the ability to implement cutting-edge technologies.</p>
							</div>
							<div class="col-md-6">
								<p>As part of the partner status, we will receive the most updated information on Bing advertising program and as a result we are well positioned to serve our clients to the best.</p>
								
								<p>Hundreds of satisfied clients have used WebEnrich services to generate qualified sales/leads leading to Millions of dollars in converted sales.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>