<% content_for :title do %>
	Privacy Policy | WebEnrich.com
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="WebEnrich values your privacy and this Privacy Policy applies to all users, visitors, customers and others who use WebEnrich.com">
	<meta name="keywords" content="Privacy Policy, WebEnrich.com">
<% end %>
<div class="page-banner">
	<div class="services-page clients-page privacy-policy-page">
		<div class="clients-content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-we">
							<div class="banner-title">
								<h2>Privacy Policy</h2>
							</div>
							<div class="about-intro">
								<p>WebEnrich values your privacy and our Privacy Policy applies to all users, visitors, customers and others who use WebEnrich.com.<br/> <strong>This site is intended to provide information on the products and services offered by WebEnrich.</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="privacy-policy-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<p><strong>Collection and Use of Non-Personal Information</strong></p>
							<h2>Passive Browser Information</h2>
							<p>Passive Browser information is collected by the web server hosting www.webenrich.com. This server logs standard information communicated by web browsers while they request to the server.</p>
							<h2>Analytics</h2>
							<p>This site uses Google Analytics for website analysis, which includes the recording and processing of website related information such as the mode of browsing navigation and the quality of keywords responsible for driving relevant traffic to this site.</p>
							<h2>Security</h2>
							<p>We have implemented reasonable security measures in order to protect information from loss, misuse and unauthorized access, disclosure, alteration or destruction.</p>
						</div>
						<div class="col-md-6 col-sm-12 ">
							<h2>Links to Other Sites</h2>
							<p>This website may contain links to other sites. You may also wish to read the privacy policies of the other sites you visit to learn about their data practices, which may, in all probability differ from those described in this privacy policy.</p>
							<h2>Changes to this Privacy Policy</h2>
							<p>This privacy policy is subject to change. If WebEnrich makes any material or substantive changes in the way that we treat the information collected at this site, we will post a clear and conspicuous notice of these changes on this site and in this privacy policy.</p>
							<h2>More Information</h2>
							<p>If you have further questions or concerns relating to this site's privacy practices, please email <a href="mailto:privacy@webenrich.com">privacy@webenrich.com</a>. We'd only be glad to help you.</p>
						</div>							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>