<% content_for :title do %>
	Thank You for your interest in Web Enrich Web Design, Development and SEO Services
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="Welcome and thank you for considering WebEnrich located in India for your website development project, Logo design, and/or Search Engine Optimization (SEO). Please browse around to learn more about how we can help you.">
	<meta name="keywords" content="Website Development Services, Web Development Company, Web Developers, Web Design Company, Web Design Services, Web Designers, Best SEO Company, SEO Services, PPC, Social Media, Web Marketing, India, Hyderabad, Vizag, Bangalore, Pune, Delhi">
<% end %>
<div class="page-banner">
	<div class="services-page clients-page privacy-policy-page">
		<div class="clients-content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-we">
							<div class="banner-title">
								<h2>Thankyou</h2>
							</div>
							<div class="about-intro">
								<h3>Thank you for contacting WebEnrich !!</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="privacy-policy-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<p>As part of our commitment to excellent service, we answer all emails within 24-48 hours.</p>
							<p> However, emails may be undelivered due to various technical reasons. We kindly request you to recontact us, if your query has not been answered within 48 hours.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script language="javascript" type="text/javascript">
	window.setTimeout('window.location="http://webenrich.com/"; ',5000);
</script>
<!-- Google Code for thank you Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
	var google_conversion_id = 983557173;
	var google_conversion_language = "en";
	var google_conversion_format = "2";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "fvvRCNOWpwYQtcj_1AM"; var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript"
	src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
src="//www.googleadservices.com/pagead/conversion/983557173/?value=0&amp;label=fvvRCNOWpwYQtcj_1AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>