<% content_for :title do %>
	Facebook Marketing and Advertising solutions for your business from WebEnrich
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="We design and promote Facebook pages, create Ads, apps and manage them successfully; Try WebEnrich services in Hyderabad, Bangalore India.">
	<meta name="keywords" content="Facebook advertising, facebook marketing, services, advertising on facebook, strategies, online store, business marketing, page, apps, ads, Hyderabad, Bangalore India">
<% end %>
<div class="page-banner">
	<div class="services-page web-dev-page">
		<div class="services-content php-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="banner-title">
							<h2>Services</h2>
						</div>
						<div class="service-inner-title">
							<h1>Other Services / <span>Facebook Marketing</span></h1>
							<ul class="nav">
								<li>
									<%= link_to 'Web Hosting', web_hosting_path %>
								</li>
								<li>
									<%#= link_to 'Domain Registration', domain_registration_path %>
								</li>
								<li>
									<%= link_to 'Content Development', content_development_path %>
								</li>
								<li>
									<%= link_to 'Facebook Marketing', facebook_app_development_path, :class => 'active' %>
								</li>
								<li>
									<%#= link_to 'Corporate Video Presentation', corporate_video_presentation_path %>
								</li>
							</ul>
						</div>
						<!-- <div class="web-dev-intro">
							<div class="col-md-12">
								<div class="row">
									<div class="web-dev-content web-dev-content-inner">
										<div class="web-dev-img">
											<%= image_tag 'ecommerce-innerpage-icon-big.jpg', :class => 'img-responsive', :alt => 'Services Image' %>
										</div>
										<div class="web-content-para">
											<p>Developing content for the web takes a lot – technical skills, understanding of subject matter, language skills, a dollop of smartness and most importantly, insights on the ever-changing user behavior. Our study reveals that most visitors are first attracted to the 'skin' of your website - the look and the feel of it. </p>
											<p>However, the beauty of the website isn't enough to get your users hooked. Quality content that is relevant and engaging is very crucial for holding the attention of the visitors.</p>
										</div>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="service-inner-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 mobile-content">
							<h2>Facebook Marketing</h2>
							<p>According to the latest stats, there are over 1.11 billion Facebook users and about half a billion Facebook mobile users. And what's more, the projected figure for number of users of this social networking site is 7.3 billion by 2015. No wonder businesses across the world are prompt in putting up Facebook Fan pages. They are following the mantra of 'go where your customers are'. And rightly so. Facebook is an incredible marketing resource.</p>
							<p>Probably you too have a Facebook page or are in the process of setting up one. But wouldn't want your Facebook page to stand out among the millions of other pages? What makes you different from your competitors? Got you thinking, huh? Leave it to WebEnrich to create customized and professionally designed Facebook page that will raise brand awareness and actively engage your customers.</p>
						</div>
						<div class="col-md-6 mobile-content">
							<p>We not only set up an exclusive Facebook page for you but also send you regular review reports with suggestions to design and improve your campaigns to suit your target audience. We place advertisements relevant to your customers, perform a regular study of the feeds, the extent of viral marketing and news feeds that your site receives.</p>
							<p>Facebook is a powerful medium for both marketing & advertising that can fetch your business a lot of fans, new visitors, online branding, leads and also sales. It can turn your visitors into brand ambassadors apart from your business and you into a celebrity overnight.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>