<% content_for :title do %>
	PSD to XHTML
<% end %>
<div class="page-banner">
	<div class="services-page web-dev-page ui-dev-page">
		<div class="services-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<%= render 'layouts/parts/servicesmenu' %>
						<div class="service-inner-title">
							<h1>UI/UX Development / <span>Psd to Xhtml</span></h1>
							<ul class="nav">
								<li>
									<%= link_to 'Psd to Xhtml ', psd_to_xhtml_path, :class => 'active' %>
								</li>
								<li>
									<%= link_to 'Psd to Html5', psd_to_html5_path %>
								</li>
								<!-- <li>
									<%#= link_to 'Xhtml', '#' %>
								</li> -->
								<li>
									<%#= link_to 'Ajax/Jquery', ajax_path %>
								</li>
							</ul>
						</div>
						<div class="web-dev-intro">
							<div class="col-md-12">
								<div class="row">
									<div class="web-dev-content web-dev-content-inner">
										<div class="web-dev-img">
											<%= image_tag 'xhtml-innerpage-big-icon.png', :class => 'img-responsive', :alt => 'Services Image' %>
										</div>
										<div class="web-content-para">
											<p>Creating a visually appealing web design: What is your strategy to stand out amidst millions of websites on the internet? Having a superior or innovative products and services helps but with so many options available in the market you have very little time to convince potential customers to spend enough time on your website to enable yourself to market your products and services.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-inner-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 mobile-content">
							<h2>Web Development Services offered by WebEnrich includes:</h2>
							<p>Creating a visually appealing web design: What is your strategy to stand out amidst millions of websites on the internet? Having a superior or innovative products and services helps but with so many options available in the market you have very little time to convince potential customers to spend enough time on your website to enable yourself to market your products and services.</p>
							<p>This is where our forte lies. Committed to our goal of designing innovative websites which give you that cutting edge, our team at WebEnrich enables you to market yourself better.</p>
						</div>
						<!-- <div class="col-md-6 mobile-content">
							<h2>Web Development Services offered by WebEnrich includes:</h2>
							<p>Creating a visually appealing web design: What is your strategy to stand out amidst millions of websites on the internet? Having a superior or innovative products and services helps but with so many options available in the market you have very little time to convince potential customers to spend enough time on your website to enable yourself to market your products and services.</p>
							<p>This is where our forte lies. Committed to our goal of designing innovative websites which give you that cutting edge, our team at WebEnrich enables you to market yourself better.</p>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>