<div class="block-center mt-xl wd-xl">
	 <!-- START panel-->
	<div class="panel panel-dark panel-flat">
		<%= render "admin/users/form" %>
		<div class="panel-body" style="padding-top:0;">
			<%= button_tag "Update User", class: "btn btn-block btn-primary" %>	
		</div>
	</div>
	 <!-- END panel-->
</div>