<!DOCTYPE html>
<html>
	<%= render 'layouts/parts/blogs/head' %>
	<body>
		<div class="main">
			<%= render 'layouts/parts/blogs/header' %>
			<div id="page-content-wrapper">
				<%= yield %>
			</div>
			<%= render 'layouts/parts/footer' %>
		</div>
	</body>
</html>